<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/navigation.ejs") %>
    <main role="main" class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 pb-3">Sobre mi</h1>
            <div class="container">
                <p>Me llamo Gustavo Franco Moron, esta pagina la hice mientras aprendia Node.js y su framework express,
                    normalmente desarrollaba el backend con php, pero ahora Node.js me pareció genial,
                    cada vez adquiero mas conocimiento en tecnologias para desarrollar proyectos web y movil, aunque no se me da muy bien el frontend xD,
                    no es impedimento para seguir aprendiendo :)
                </p>
            </div>
        </section>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>